---
/*Når du genbruger SKAL du give disse "props" --> en text og HUSK!!!! at bruge [] brackets fordi det er en ARRAY*/
interface Props {
  text: string;
  items: string[];
  bgColor: string;
  shadowColor: string;
  headingColor: string;
  textColor: string;
}

const { text, items = [], bgColor = "#AC7470", shadowColor = "#69434F", headingColor = "#F3E2D6", textColor = "#F3E2D6" }: Props = Astro.props; /* har brugt en "array" som er []*/
---

<div class="card" style={`--bg: ${bgColor}; --shadow: ${shadowColor}; --heading: ${headingColor}; --text: ${textColor};`}>
  <h2>{text}</h2>
  <ul>
    {items.map((item) => <li>{item}</li>)}
  </ul>
</div>

<style>
  .card {
    background-color: var(--bg);
    box-shadow: 10px 10px 0px var(--shadow);
    padding: 1.5rem;
    max-width: 500px;
    margin: 2rem auto; /* center */
  }

  h2 {
    font-family: "proto_regular";
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--heading);
  }

  ul {
    list-style: none;
    max-width: 60ch;
    margin: 0 auto;
    padding-left: 0;
  }

  ul li {
    font-family: "proto_light";
    margin-bottom: 2rem;
    position: relative;
    padding-left: 1.2rem;
    color: var(--text);
  }

  ul li::before {
    content: "-";
    position: absolute;
    left: 0;
    font-weight: bold;
    color: var(--text);
  }
</style>
